<?xml version="1.0"?>
<model>
  <name>ifodrone</name>
  <version>0.1</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Mikololus Sigma Dobrowolski</name>
    <email>mikololus.dobrowolski@sigma.com</email>
  </author>
  <description>Ifordone (always level) model</description>
</model>
